* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 1rem;
	line-height: 1.25;
	color: #212121;
	background-color: #f7f7f7;
	width: 100vw;
	height: 100vh;
	text-overflow: ellipsis;
}

::-webkit-scrollbar {
	display: none;
}
/* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: grey;
} */

h1 {
	font-size: 2.5rem;
	font-weight: 600;
}
a {
	font-size: 1rem;
	color: #1677ff;
}

a:hover {
	color: #69b1ff;
}
